<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <title>Projectoring - {% block title %}base{% endblock %}</title>
</head>

<body class="ui container">
  <header class="">
    <!-- <div class="ui divider"></div>
    <div class="four column row">
      <div class="left floated column">
        <a class="ui large green image label" href="/">
          <img src="https://sun9-74.userapi.com/impg/Zs0z_AEUwzHpSeoHqq7l-H4-7aigL6m39qASLA/tVdK_xCJD7E.jpg?size=400x400&quality=96&sign=504fd07ca0a64878b04eb08fb747343e&type=album" style="width: 18%;">
          PROJECT
          <div class="detail">ORING</div>
        </a>
      </div>
      <div class="left floated column"></div>
      <div class="column"></div>
      <div class="right floated left aligned column">
        <div class="ui icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Поиск проектов">
        </div>
      </div>
    </div>
    <div class="ui divider"></div> -->
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="item" href="/">
          <img src="https://sun9-74.userapi.com/impg/Zs0z_AEUwzHpSeoHqq7l-H4-7aigL6m39qASLA/tVdK_xCJD7E.jpg?size=400x400&quality=96&sign=504fd07ca0a64878b04eb08fb747343e&type=album"></i> Главная
        </a>
        <a class="item" href="/">
          <i class="grid layout icon"></i> Проекты
        </a>
        <a class="item" href="/users">
          <i class="group icon"></i> Участники
        </a>
        <div class="ui simple dropdown item">
          Ещё
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/admin"><i class="edit icon"></i> Личный кабинет</a>
          </div>
        </div>
        <div class="right item">
          <div class="ui icon input">
            <i class="small find icon"></i>
            <input type="text" placeholder="Поиск по проектам">
          </div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </header>

  <div>
    {% block content %}{% endblock %}
    <div class="ui hidden divider"></div>
  </div>
</body>
</html>