{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}


{% block content %}

<div class="ui four column grid">
  <div class="row">
    <div class="ui link cards column" style="margin-top: -10px;">
      {% for data in user %}
      <div class="card">
        <div class="content">
          <div class="header">{{ data.name }} {{ data.surname }}</div>
          <div class="meta">
            <a> {{ data.status }} </a>
          </div>
        </div>
        <div class="image">
          <img src="{{ data.pic_url }}">
        </div>
        <div class="extra content">
          <a>
            <i class="mail icon"></i>
            {{ data.mail }}
          </a>
          <br>
          <a>
          <i class="telegram icon"></i>
            {{ data.telegram }}
          </a>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui red segment">
        <h3 class="ui header">Проекты</h3>
        {% if project %}
        <a href="/project={{ project.id }}"> {{ project }} </a>
        {% else %}
        <p> {{ data.name }} отдыхает! </p>
        {% endif %}
      </div>
    </div>
    <div class="column">
        <div class="ui green segment">
            <h3 class="ui header">Wakatime</h3>
            <h4><i>{{ data.name }} пока без WakaTime, но скоро сделает! </i></h4>
        </div>
    </div>
    <div class="column">
        <div class="ui blue segment">
            <h3 class="ui header">Навыки</h3>
            {% for skill in skills %}
            <p>{{ skill }}</p>
            {% empty %}
            <p>{{ data.name }} может все что угодно!</p>
            {% endfor %}
        </div>
    </div>
  </div>
  <div>

  </div>
  {% endfor %}
</div>

{% endblock %}